<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Cinema Luz, Câmera e Reflexão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/BlogInicio.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <a href='/'> <h1>Bem-vindo ao Blog do Luz, Câmera e Reflexão</h1> </a>
            <p>Explore os artigos e deixe seus comentários!</p>
        </div>
    </header>

    <main>
        <div class="blog-container">
            <h2>Artigos Recentes</h2>

            <div class="blog-post">
                <h3>Filmes Analisados</h3>
                <p class="summary">Eu, Tonya, Tropa de Elite e o Castelo Animado. Veja filmes que analisamos e escrevemos sobre...</p>
                <a href="/Coment" class="btn">Ler mais</a>
            </div>

            <div class="blog-post">
                <h3>Descartes e Black Mirror</h3>
                <p class="summary">Veja as possiveis conexãos entre René Descartes e o episódio "PlayTest" da série Black Mirror. Será que nossa realidade é real?...</p>
                <a href="/Coment2" class="btn">Ler mais</a>
            </div>

            <div class="blog-post">
                <h3>O Banquete, o que é o amor?</h3>
                <p class="summary">O Simpósio, também conhecido como O Banquete, é um diálogo platônico que se constitui, basicamente, em uma série de discursos sobre a natureza e as qualidades do amor, nos quais diversos filósofos fazem seus elogios em relação a ele...</p>
                <a href="/Coment3" class="btn">Ler mais</a>
            </div>

            <div class="blog-post">
                <h3>Meditações sobre Filosofia Primeira</h3>
                <p class="summary">Meditações sobre Filosofia Primeira, ou Meditações Metafísicas, é um livro escrito por René Descartes em 1641. Trata-se de um aprofundamento da filosofia elaborada nas Regras para a orientação do espírito e no Discurso sobre o método...</p>
                <a href="/Coment4" class="btn">Ler mais</a>
            </div>

            <div class="blog-post">
                <h3>Origens</h3>
                <p class="summary">Obviamente as coisas não são as mesmas para sempre, tudo muda, assim como o ser
                    humano muda com o tempo, ou uma cidade muda com o tempo, uma sociedade, um modo
                    de pensar, o cinema também muda. Ao analisarmos o cinema e como ele evoluiu com o
                    tempo nos deparamos com esses três filmes muito importantes para a história do cinema...</p>
                <a href="/Coment5" class="btn">Ler mais</a>
            </div>

        </div>
    </main>

    <footer>
        <p>&copy; 2024 Cinema Luz, Câmera e Reflexão - Todos os direitos reservados.</p>
    </footer>
</body>
</html>